<h4>問い合わせ一覧</h4>

<ul class="nav nav-underline justify-content-center mb-3">
  <li class="nav-item">
    <%= link_to "回答済", admin_inquiries_path(sort :answered), class: "nav-link #{'active' if @sort_option == 'answered'}" %>
  </li>
  <li class="nav-item">
    <%= link_to "未回答", admin_inquiries_path(sort :unanswered), class: "nav-link #{'active' if @sort_option == 'unanswered'}" %>
  </li>
</ul>

<div class="row justify-content-center text-center">
  <div class="col-11 col-md-10 my-5">
    <% if @inquiries.exists? %>
      <%= @inquiries.each do |inquiry| %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>問い合わせ内容</th>
              <th>ユーザー名</th>
              <th>問い合わせ状況</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <%= link_to admin_inquiry_path(inquiry) do %>
                  <%= inquiry.title %>
                <% end %>
              </td>
              <td><%= inquiry.user.name %></td>
              <td>
                <% if inquiry.answered? %>
                  <span class="text-success"><strong>回答済</strong></span>
                <% else %>
                  <span class="text-muted"><strong>未回答</strong></span>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
    <% else %>
      <p>問い合わせはいません。</p>
    <% end %>
  </div>
</div>