<h4>問い合わせ詳細</h4>
<%= @inquiry.title %>
<%= @inquiry.user.name %>
<%= @inquiry.message %>

<%= form_with model: @inquiry, url: respond_admin_inquiry_path(@inquiry), method: :patch do |f| %>
  <div class="form-group">
    <%= f.label "返信" %>
    <%= f.text_area :response, row: 5 ,class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "送信", class: "btn btn_post" %>
  </div>
<% end %>