<table class="table col-lg-auto w-100">
  <thead>
    <tr>
      <th class="w-30">コメント一覧</th>
      <th class="w-50"></th>
      <th class="w-20"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% if post.comments.exists? %>
        <% post.comments.each do |comment| %>
          <td>
            <%= link_to admin_user_path do %>
              <%= image_tag comment.user.get_profile_image, size: "40x40", style: 'border-radius: 50%', class: "border border-dark-subtle" %>
              <span class="mx-2"><%= comment.user.name %></span>
            <% end %>
          </td>
          <td><%= comment.comment %></td>
          <td>
            <%= link_to admin_comment_path(comment), method: :delete, data: {"turbolinks" => false}, class: "btn btn-sm btn-danger" do %>
              削除 <i class="fa-solid fa-trash-can"></i>
            <% end %>
          </td>
        <% end %>
      <% else %>
        <td>コメントはありません。</td>
      <% end %>
    </tr>
  </tbody>
</table>