<%= render 'layouts/errors', obj: post %>
<%= form_with model: post do |f| %>
  <div class="d-flex flex-wrap form-group row">
    <%= f.label "完成画像",class: "col-4 col-md-3 col-form-label" %>
    <%= f.file_field :complete_image, accept: "image/*",class: "col-8 col-md-9" %>
  </div>
  <div class="form-group row">
    <%= f.label "タイトル ",class: "col-3 col-form-label" %>
    <%= f.text_field :title, class: "col-9 form-control" %>
  </div>

  <!--材料フォーム-->
  <div id="material">
    <%= f.fields_for :materials do |material| %>
      <%= render 'material_fields', :f => material %>
    <% end %>
    <div class="links">
      <%= link_to_add_association f, :materials, class: "btn btn-primary col-6 col-md-3" do %>
        <i class="fa-solid fa-plus"></i> 追加
      <% end %>
    </div>
  </div>

  <!--作り方フォーム-->
  <div id="recipe">
    <%= f.fields_for :recipes do |recipe| %>
      <%= render 'recipe_fields', :f => recipe %>
    <% end %>
    <div class="links">
      <%= link_to_add_association f, :recipes, class: "btn btn-primary col-6 col-md-3" do %>
        <i class="fa-solid fa-plus"></i> 追加
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <% if @post.new_record? %>
      <div class="post_btn">
        <%= f.submit "投稿", class: "btn btn-success col-6 col-md-4" %>
      </div>
    <% else %>
      <%= f.submit "編集を保存", class: "btn btn-success" %>
      <%= link_to "戻る", post_path(post), class: "btn btn-secondary mx-3" %>
    <% end %>
  </div>
<% end %>
