<%= form_with model: post do |f| %>
  <div class="form-group row">
    <%= f.label "完成画像",class: "col-4 col-form-label" %>
    <%= f.file_field :complete_image, accept: "image/*" %>
  </div>
  <div class="form-group row">
    <%= f.label "タイトル ",class: "col-3 col-form-label" %>
    <%= f.text_field :title, class: "col-9 form-control" %>
  </div>

  <!--材料フォーム-->
  <div id="material">
    <%= f.fields_for :materials do |material| %>
      <%= render 'material_fields', :f => material %>
    <% end %>
    <div class="links">
      <%= link_to_add_association "追加", f, :materials, class: "btn btn-primary" %>
    </div>
  </div>

  <!--作り方フォーム-->
  <div id="recipe">
    <%= f.fields_for :recipes do |recipe| %>
      <%= render 'recipe_fields', :f => recipe %>
    <% end %>
    <div class="links">
        <%= link_to_add_association "追加", f, :recipes, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="form-group mt-5">
    <% if @post.new_record? %>
      <%= f.submit "投稿", class: "btn btn-success" %>
    <% else %>
      <%= f.submit "編集を保存", class: "btn btn-success" %>
      <%= link_to "戻る", post_path(post), class: "btn btn-secondary mx-3" %>
    <% end %>
  </div>
<% end %>
