<div class="d-flex flex-wrap">
  <% posts.each do |post| %>
    <% if post.user.is_active? %>
      <%= link_to post_path(post) do %>
        <div class="card border-dark text-center mx-1" style="width: 15rem;">
          <div class="card-img-top">
            <%= image_tag post.get_complete_image, size: "200x200" %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <div class="text-left">
              <%= image_tag post.user.get_profile_image, size: "40x40", style: 'border-radius: 50%', class: "border border-primary" %>
              <%= post.user.name %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

