<% posts.each do |post| %>
  <% if post.user.is_active? %>
    <div class="card shadow m-2" style="width: 18rem;">
      <%= link_to post_path(post) do %>
        <div class="card-img-top border-bottom">
          <%= image_tag post.get_complete_image, size: "200x250", class: "card-img-top" %>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center"><%= post.title.truncate(9) %></h5>
        </div>
      <% end %>
      <div class="card-text p-2">
        <% if post.user_id == current_user.id %>
          <%= link_to my_page_path, class: "name_link" do %>
            <%= image_tag post.user.get_profile_image, size: "40x40", style: 'border-radius: 50%', class: "border border-dark-subtle" %>
            <%= post.user.name %>
          <% end %>
        <% else %>
          <%= link_to user_path(post.user), class: "name_link" do %>
            <%= image_tag post.user.get_profile_image, size: "40x40", style: 'border-radius: 50%', class: "border border-dark-subtle" %>
            <%= post.user.name %>
          <% end %>
        <% end %>
      </div>
      <!--いいねボタン-->
      <div class="card-link border-top text-right pt-3 px-3">
        <% unless post.user_id == current_user.id || current_user.guest_user?  %>
          <div id="favorite_<%= post.id %>">
            <%= render 'public/favorites/favorite_btn', post: post %>
          </div>
        <% else %>
          <div style="color: red;">
            <i class="fa-solid fa-heart"></i>
            <%= post.favorites.count %>
          </div>
        <% end %>
      </div>
      <div class="pb-2 px-2">
        <%= l post.created_at %>
      </div>
    </div>
  <% end %>
<% end %>
