<div class="nested-fields" id="first-material-field">
  <div class="d-flex flex-wrap form-group g-3">
    <div class="form-group col-12 col-md-4 col-lg-7">
      <div class="row">
        <%= f.label "材料", class: "col-4 col-md-5 col-form-label" %>
        <%= f.text_field :name, class: "col-8 col-md-7 form-control", placeholder: "例) うちわ" %>
      </div>
    </div>
    <div class="form-group col-12 col-md-5 col-lg-3">
      <div class="row">
        <%= f.label "数量", class: "col-5 col-md-5 col-form-label" %>
        <div class="col-7 col-md-7">
          <%= f.select :amount, options_for_select(1..20), {}, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group col-12 col-md-3 col-lg-2">
      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <%= link_to_remove_association "削除", f, class: "btn btn_delete", remote: true %>
        </div>
      </div>
    </div>
  </div>
</div>