<div class="d-flex justify-content-center align-items-center position-relative mb-3">
  <h4 class="flex-grow-1 text-center mb-0">投稿一覧</h4>
  <%= link_to new_post_path, class: "ml-3 new_post btn btn_post" do %>
    <i class="fa-solid fa-pen-to-square" style="font-size:1.5em;"></i> 新規投稿
  <% end %>
</div>

<p class="text-center my-3">
  <%= link_to "新しい順", posts_path(latest: "true"), style: "color: #027b71;" %>
  / <%= link_to "古い順", posts_path(old: "true"), style: "color: #027b71;" %>
  / <%= link_to "評価の高い順", posts_path(most_favorites: "true"), style: "color: #027b71;" %>
</p>
<div class="row justify-content-center d-flex flex-wrap mb-3">
  <% if @posts.exists? %>
    <%= render 'index', posts: @posts %>
  <% else %>
    <h6>投稿はされていません</h6>
  <% end %>
</div>
<div class="row justify-content-center mb-5">
  <div class="col-6">
    <%= paginate @posts %>
  </div>
</div>