<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'layouts/side_bar' %>
    </div>
    <div class="col-md-8 offset-md-1">
      <div class="row">
        <div class="col-4">
          <%= image_tag @post.get_post_image, size: "200x200" %>
        </div>
        <div class="col-8">
          <h3><%= @post.title %></h3>
          <%= render partial: 'material_list', locals:{ materials: @post.materials} %>
        </div>
        <div class="row">
          <%= render partial: 'recipe_list', locals:{ recipes: @post.recipes} %>
        </div>
      </div>
      
    </div>
  </div>
</div>