<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8">
    <div class="row border p-2">
      <div class="col-12 col-md-5 col-lg-4 text-center">
        <%= image_tag @post.get_complete_image, size: "200x200",class: "border border-dark-subtle mt-3" %>
      </div>
      <div class="col-12 col-md-7 col-lg-8">
        <div class="row d-flex">
          <h4 class="post_title col-9 my-4"><%= @post.title %></h4>
          <div class="col-3 text-center my-4">
            <% unless @post.user_id == current_user.id %>
              <div id="favorite_<%= @post.id %>">
                <%= render 'public/favorites/favorite_btn', post: @post %>
              </div>
              <% end %>
          </div>
        </div>
        <div class="row mb-3 border">
          <div class="col-8 text-left p-1">
            <% if @post.user == current_user %>
              <%= link_to my_page_path do %>
                <%= image_tag @post.user.get_profile_image, size: "50x50", style: 'border-radius: 50%', class: "border border-dark-subtle" %>
                <span class="user_name ml-2"><%= @post.user.name %></span>
              <% end %>
            <% else %>
              <%= link_to user_path(@post.user) do %>
                <%= image_tag @post.user.get_profile_image, size: "50x50", style: 'border-radius: 50%', class: "border border-dark-subtle" %>
                <span class="user_name mx-3"><%= @post.user.name %></span>
              <% end %>
            <% end %>
          </div>
          <div class="col-4">
            <% if @post.user_id == current_user.id %>
              <%= link_to "編集",edit_post_path(@post), class: "btn btn-sm btn-success m-2" %>
              <%= link_to "削除", @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
            <% end %>
          </div>
        </div>
          <div class="row border">
            <div class="material_list_title col-2 col-md-3 col-lg-4">材料</div>
            <div class="col-10 co-md-9 col-lg-8"><%= render partial: 'material_list', locals:{ materials: @post.materials} %></div>
          </div>
      </div>
    </div>
    <div class="row-12 my-3">
      <h5>作り方</h5>
      <%= render partial: 'recipe_list', locals:{ recipes: @post.recipes} %>
    </div>
    <!--コメント数-->
    <div class="row justify-content-end">
      <!--コメントフォーム-->
      <div class="col-8 col-md-7 col-lg-6">
        <%= render 'public/comments/form',post: @post,comment: @comment %>
      </div>
    </div>
    <div id="comment_index"><%= render 'public/comments/index', post: @post %></div>
  </div>
</div>
