<table class="table col-12 col-lg-auto">
  <thead>
    <tr>
      <th class="comment_list">コメント一覧</th>
      <th> <span id="comment_counter">コメント数 <%= @post.comments.count %></span></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% post.comments.each do |comment| %>
      <tr>
        <% if comment.user_id == current_user.id %>
          <td>
            <%= link_to my_page_path do %>
              <%= image_tag comment.user.get_profile_image, size: "40x40", style: 'border-radius: 50%', class: "border border-dark-subtle" %>
              <span class="user_name mx-2"><%= comment.user.name %></span>
              <% end %>
          </td>
          <td><%= comment.comment %></td>
          <td>
            <%= link_to post_comment_path(comment.post, comment), method: :delete, remote: true, data: {"turbolinks" => false}, class: "btn btn-sm btn-danger" do %>
              削除 <i class="fa-solid fa-trash-can"></i>
            <% end %>
          </td>
        <% else %>
          <td>
            <%= link_to user_path(comment.user) do %>
              <%= image_tag comment.user.get_profile_image, size: "40x40", style: 'border-radius: 50%', class: "border border-dark-subtle" %>
              <span class="user_name"><%= comment.user.name %></span>
            <% end %>
          </td>
          <td><span class="comment_text"><%= comment.comment %></span></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>