<div class="row justify-content-center my-5">
  <div class="col-11">
    <% if @model == "ユーザー" %>
      <h4 class="text-center my-5">ユーザー検索　「<%= @word %>」の結果</h4>
      <% if  @records.exists? %>
        <div class="card shadow">
          <%= render 'admin/users/index', users: @records %>
        </div>
      <% else %>
        <h6 class="text-center mb-5">ユーザーは見つかりませんでした</h6>
      <% end %>
    <% else %>
      <h4 class="text-center">投稿検索　「<%= @word %>」の結果</h4>
      <div class="row justify-content-center d-flex flex-wrap my-5">
        <% if  @records.exists? %>
          <%= render 'admin/homes/index', posts: @records %>
        <% else %>
          <h6>投稿は見つかりませんでした</h6>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="row justify-content-center mb-5">
  <div class="col-6">
    <%= paginate @records %>
  </div>
</div>

