<div class="row justify-content-center my-5">
  <div class="col-12 col-md-10">
    <% if @model == "ユーザー" %>
      <h4 class="text-center mt-5">ユーザー検索　「<%= @word %>」の結果</h4>
      <div class="row justify-content-center card my-5">
        <% if  @records.exists? %>
          <%= render 'admin/users/index', users: @records %>
        <% else %>
          <h6>ユーザーは見つかりませんでした</h6>
        <% end %>
      </div>
    <% else %>
      <h4 class="text-center mt-5">投稿検索　「<%= @word %>」の結果</h4>
      <div class="row justify-content-center d-flex flex-wrap my-5">
        <% if  @records.exists? %>
          <%= render 'admin/homes/index', posts: @records %>
        <% else %>
          <h6>投稿は見つかりませんでした</h6>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="row justify-content-center mb-5">
  <div class="col-6">
    <%= paginate @records %>
  </div>
</div>

