<div class="row justify-content-center">
  <div class="card mb-5 col-11 col-md-10 col-lg-8">
    <div class="row border p-2">
      <div class="col-12 col-md-5 col-lg-4 text-center">
        <%= image_tag @post.get_complete_image, size: "200x200",class: "border border-dark-subtle" %>
      </div>
      <div class="col-12 col-md-7 col-lg-8">
        <div class="row d-flex">
          <h4 class="post_title col-9 my-4"><%= @post.title %></h4>
        </div>
        <div class="row mb-3 border-bottom">
          <div class="col-7 col-lg-8 text-left p-1">
            <%= link_to admin_user_path(@post.user) do %>
              <%= image_tag @post.user.get_profile_image, size: "50x50", style: 'border-radius: 50%', class: "border border-dark-subtle" %>
              <span class="user_name mx-3"><%= @post.user.name %></span>
            <% end %>
          </div>
          <div class="col-5 col-lg-4">
            <%= link_to "削除", admin_post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn_delete" %>
          </div>
        </div>

        <!--材料リスト-->
        <div class="row">
          <div class="material_list_title col-2 col-md-3 col-lg-4">材料</div>
          <div class="col-10 co-md-9 col-lg-8"><%= render partial: 'material_list', locals:{ materials: @post.materials} %></div>
        </div>
      </div>
    </div>
    <!--作り方-->
    <div class="row-12 my-3">
      <h5>作り方</h5>
      <%= render partial: 'recipe_list', locals:{ recipes: @post.recipes} %>
    </div>
    <div id="comment_index"><%= render 'admin/comments/index', post: @post %></div>
  </div>
</div>