<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8">
    <div class="row">
      <div class="col-12 col-md-5 col-lg-4 text-center">
        <%= image_tag @post.get_complete_image, size: "200x200",class: "border border-dark-subtle" %>
      </div>
      <div class="text-center col-12 col-md-7 col-lg-8">
        <div class="row">
          <div class="col-8 mt-3">
            <%= link_to admin_user_path(@post.user) do %>
            <%= image_tag @post.user.get_profile_image, size: "80x80", style: 'border-radius: 50%', class: "border border-dark-subtle" %>
            <span class="mx-3"><%= @post.user.name %></span>
          <% end %>
          </div>
          <div class="col-2 p-0 mt-3">
            <%= link_to "編集",edit_admin_post_path(@post), class: "btn btn-sm btn-success" %>
          </div>
          <div class="col-2 p-0 mt-3">
            <%= link_to "削除", @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
          </div>
        </div>
          <h4 class="post_title mb-4"><%= @post.title %></h4>
          <div class="row">
            <div class="material_list_title col-2 col-md-3 col-lg-4">材料</div>
            <div class="col-10 co-md-9 col-lg-8"><%= render partial: 'material_list', locals:{ materials: @post.materials} %></div>
          </div>
      </div>
    </div>
    <div class="row-12 my-3">
      <h5>作り方</h5>
      <%= render partial: 'recipe_list', locals:{ recipes: @post.recipes} %>
    </div>
    <div id="comment_index"><%= render 'admin/comments/index', post: @post %></div>
  </div>
</div>