<table class="table w-100">
  <thead>
    <tr>
      <th class="w-30">ユーザー一覧</th>
      <th class="w-50"></th>
      <th class="w-20"></th>
      </th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <% if user.is_active? %>
          <% if user == current_user %>
            <td class="w-30">
              <%= link_to my_page_path do %>
                <%= image_tag user.get_profile_image, size: "50x50", style: 'border-radius: 50%', class: "border border-dark-subtle" %>
                <span class="user_name_index"><%= user.name %></span>
              <% end %>
            </td>
            <td class="w-50">
              <span class="introduction"><%= user.introduction %></span>
            </td>
          <% else %>
            <td class="w-30">
              <%= link_to user_path(user) do %>
                <%= image_tag user.get_profile_image, size: "50x50", style: 'border-radius: 50%', class: "border border-dark-subtle" %>
                <span class="user_name_index"><%= user.name %></span>
              <% end %>
            </td>
             <td class="w-50">
               <span class="introduction"><%= user.introduction %></span>
             </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>