<nav class="navbar bg-body-tertiary" style="background-color: #f5b2b2;">
  <div class="container-fluid">
    <div class="navbar-brand">
      <%= link_to "OshiLife", root_path,style: "color: #98514B;" %>
    </div>
    <ul class="navbar-nav list-group-horizontal justify-content-end ">
      <% if admin_signed_in? %>
        <% if request.fullpath.include?("/admin")%>
          <!--adminログイン後のリンク-->
          <li><%= link_to "ユーザー一覧", admin_users_path, class: "nav-link mr-3" %></li>
          <li><%=link_to "投稿一覧", admin_posts_path, class: "nav-link mr-3" %></li>
          <l><%=link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link mr-3",style: "color: #98514B;"%></li>
        <% end %>
      <% elsif user_signed_in? %>
        <% unless request.fullpath.include?("/admin") %>
          <!--userログイン後のリンク-->
          <li><%= link_to "ユーザー一覧", users_path, class: "nav-link mr-3",style: "color: #98514B;"%></li>
          <li><%= link_to "投稿一覧", posts_path, class: "nav-link mr-3",style: "color: #98514B;" %></li>
          <li><%= link_to "マイページ", my_page_path, class: "nav-link mr-3",style: "color: #98514B;" %></li>
          <li><%= link_to "新規投稿", new_post_path, class: "nav-link mr-3",style: "color: #98514B;" %></li>
          <li><%=link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link mr-3",style: "color: #98514B;"%></li>
        <% end %>
      <% else %>
        <% unless request.fullpath.include?("/admin")%>
          <!--userログイン前のリンク-->
          <li><%= link_to "TOP", root_path, class: "nav-link mr-3",style: "color: #98514B;" %></li>
          <li><%= link_to "Oshi Lifeについて", about_path, class: "nav-link mr-3",style: "color: #98514B;" %></li>
          <li><%= link_to "新規登録", new_user_registration_path, class: "nav-link mr-3",style: "color: #98514B;" %></li>
          <li><%= link_to "ログイン", new_user_session_path, class: "nav-link mr-3",style: "color: #98514B;" %></li>
        <% else %>
          <!--adminログイン前のリンク-->
          <li><%= link_to "ログイン", new_admin_session_path, class: "nav-link mr-5",style: "color: #98514B;" %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</nav>