<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <div class="navbar-brand">
      <%= link_to "LOGO", root_path %>
    </div>
    <ul class="navbar-nav justify-content-end">
      <% if admin_signed_in? %>
        <% if request.fullpath.include?("/admin")%>
          <!--adminログイン後のリンク-->
          <li><%= link_to "ユーザー一覧", admin_users_path %></li>
          <li><%=link_to "投稿一覧", admin_posts_path %></li>
          <li><%=link_to "ログアウト", destroy_admin_session_path %></li>
        <% else %>
          <!--userログイン後のリンク-->
          <li><%= link_to "ユーザー一覧", users_path %></li>
          <li><%= link_to "投稿一覧", posts_path %></li>
          <li><%= link_to "マイページ", current_user_path %></li>
          <li><%= link_to "新規投稿", new_post_path %></li>
        <% end %>
      <% elsif %>
        <!--userログイン前のリンク-->
        <li><%= link_to "TOP", root_path %></li>
        <li><%= link_to "Oshi Lifeについて", about_path %></li>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
      <% else %>
        <!--adminログイン前のリンク-->
        <li><%= link_to "ログイン", new_admin_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>