<!DOCTYPE html>
<html>
  <head>
    <title>Oshi Life</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/7be1f5c9f4.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <div id="wrapper">
      <header>
        <%= render 'layouts/header' %>
      </header>
      <div class="text-center">
        <p class="notice mb-0 mt-1"><%= notice %></p>
        <p class="alert m-0"><%= alert %></p>
      </div>
      <div class="container-fluid">
        <div class="row">
          <% if @show_sidebar == false %>
            <div class="col-lg-12">
              <main>
                <%= yield %>
              </main>
            </div>
          <% else %>
          <!-- サイドバー -->
          <div class="col-lg-3 offset-lg-1 d-none d-lg-block my-5" id="sidebar">
            <!-- サイドバーのコンテンツ -->
            <div class="card2">
              <div class="d-flex justify-content-center">
                <%= render 'layouts/search_form' %>
              </div>
              <%= render 'layouts/sideber', genres: @genres %>
            </div>
          </div>

          <!-- スマートフォンサイズの場合、検索機能をメインコンテンツの上に移動 -->
          <div class="col-12 d-lg-none mb-3">
            <div class="d-flex justify-content-center">
              <%= render 'layouts/search_form' %>
            </div>
          </div>
          <!-- メインコンテンツ -->
          <div class="col-lg-8">
            <main>
              <%= yield %>
            </main>
          </div>
        </div>
          <!-- スマートフォンサイズの場合、サイドバーはメインコンテンツの下に移動 -->
          <div class="d-lg-none d-flex justify-content-center mb-5">
            <div class="col-10 card2">
            <%= render 'layouts/sideber', genres: @genres %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
    </script>
  </body>
</html>
